.header{
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Adds shadow */
    margin: 10px 70px 0px 70px;
}

.logo{
    width:95px;
}

.logocontainer h2{
    color:chartreuse;
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 3px;
}

.nav-items ul{
    font-size: 18px;
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items ul li{
    padding:10px;
    margin:10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.res-card{
    width:230px;
    height:280px;
    margin: 20px 50px 20px 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 10px;
    
}

.res-card:hover {
    transform: scale(1.05);  /* Slightly enlarges the card */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Adds shadow */
    cursor: pointer;  /* Changes cursor */
}


.body{
    padding: 10px;
    margin: 10px 70px 0px 70px;
}

.card-img{
    width:230px;
    height:50%;
    padding:0px;
    border-radius:8%;
}

.res-card ul{
    display:flex;
    /* justify-content:space-between; */
    padding: 0px;
    gap: 18px;
    margin: 0px;
    font-weight: bold;

}
.res-card ul .nodot{
    list-style-type: none;
}

.res-card p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(42, 41, 41);
}

.res-card h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight:bolder;
}

.container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    gap: 15px; /* Space between filter and search */
    padding: 10px;
}

/* Filter Button */
.filter-btn {
    padding: 8px 12px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.filter-btn:hover {
    background-color:  #e04e2a;
}

/* Search Box */
.search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px;
}

.search-btn {
    padding: 8px 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-btn:hover {
    background-color: #27ae60;
}


